#a{
  
       text-align: center;
    font-family: cursive;
    background-color: yellow;
    color:green;
    border: 3px solid green;
}
.b,.c{
  text-align: center;
    font-family: cursive;
    background-color: yellow;
    color:green;
    border: 3px solid green;
}
h1{
  
       text-align: center;
    font-family: cursive;
    background-color: yellow;
    color:green;
    border: 3px solid green;

}